body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Board{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  background-color: #d1cece;
}

.tile{
  flex-grow: 1;
  width: 25px;
  height: 25px;
  background-color: #9f9d9d;
  border-color: #717070;
  margin: 1px;
  font-size: xx-small;
}

.zero{
  background-color: #eeebeb;
  border-color: #717070;  
}
.scoreboard{
  background-color: #FFF;
  width: 100%;
  display: flex;
}
.left{
  width: 50%;
}
.right{
  width: 50%;
}